<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Guardtime.KSI.Test.Crypto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
   See http://nlog-project.org/wiki/Configuration_file for information on customizing logging rules and outputs.
   -->
    <targets>
      <!-- add your targets here -->
      <target xsi:type="Console" name="output" layout="${longdate} ${uppercase:${level}} ${message}" />
      <target name="file"
              xsi:type="File"
              layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"
              fileName="${machinename}-applog.log"
              archiveEvery="Day"
              archiveFileName="applog.{#####}.log"
              archiveNumbering="Sequence"
              keepFileOpen="true"
              encoding="utf-8"
              maxArchiveFiles="32" />
    </targets>

    <rules>
      <!-- add your logging rules here -->
      <logger name="*" minlevel="Trace" writeTo="output" />
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
  <applicationSettings>
    <Guardtime.KSI.Test.Crypto.Properties.Settings>
      <!-- Crypto provider type. Possible values: BouncyCastle, Microsoft -->
      <setting name="CryptoProviderType" serializeAs="String">
        <value>Microsoft</value>
      </setting>
    </Guardtime.KSI.Test.Crypto.Properties.Settings>
    <Guardtime.KSI.Test.Properties.Settings>
      <!-- PDU format version. Possible values: 1, 2 -->
      <setting name="PduVersion" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="HttpPublicationsFileUrl" serializeAs="String">
        <value>http://verify.guardtime.com/ksi-publications.bin</value>
      </setting>
      <setting name="HttpSigningServiceUrl" serializeAs="String">
        <value>http://signing.service.url</value>
      </setting>
      <setting name="HttpSigningServiceUser" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="HttpSigningServicePass" serializeAs="String">
        <value>pass</value>
      </setting>
      <setting name="HttpExtendingServiceUrl" serializeAs="String">
        <value>http://extending.service.url</value>
      </setting>
      <setting name="HttpExtendingServiceUser" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="HttpExtendingServicePass" serializeAs="String">
        <value>pass</value>
      </setting>
      <setting name="TcpSigningServiceIp" serializeAs="String">
        <value>123.123.123.123</value>
      </setting>
      <setting name="TcpSigningServicePort" serializeAs="String">
        <value>1234</value>
      </setting>
      <setting name="TcpSigningServiceUser" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="TcpSigningServicePass" serializeAs="String">
        <value>pass</value>
      </setting>
      <setting name="TcpExtendingServiceIp" serializeAs="String">
        <value>123.123.123.123</value>
      </setting>
      <setting name="TcpExtendingServicePort" serializeAs="String">
        <value>4321</value>
      </setting>
      <setting name="TcpExtendingServiceUser" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="TcpExtendingServicePass" serializeAs="String">
        <value>pass</value>
      </setting>
    </Guardtime.KSI.Test.Properties.Settings>
  </applicationSettings>
</configuration>